.notification-container {
    position: fixed;
    top: 70px; /* Offset below navbar */
    right: 0px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

/* === Notification Box === */
.notification {
    padding: 8px 10px;
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) 3px solid;
    font-weight: 500;
    max-width: 300px;
    cursor: pointer;

    opacity: 0; /* Start hidden */
    transform: translateY(-50px); /* Start above view */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Show / Hide Animations */
.notification.show {
    opacity: 1;              /* Fade in */
    transform: translateY(0); /* Slide down into view */
}

.notification.hide {
    opacity: 0;
    transform: translateX(400px); /* Slide right when hiding */
}

/* Notification Types */
.notification-success {
    background: #ffffff;
}

.notification-error {
    background: #f44336;
    color: #fff;
}

.notification-info {
    background: #2196F3;
    color: #fff;
}
