# Force all JS files to be counted as JavaScript
*.js linguist-language=JavaScript

# Treat both PHP and CSS as documentation (excluded from stats)
*.php linguist-documentation
*.css linguist-documentation